<h1>Detailed roof data</h1>
<hr />>

<p>
  <b>Customer name</b>
  <%= @roof.name %>
</p>

<p>
  <b>Customer email</b>
  <%= @roof.email %>
</p>

<p>
  <b>Customer address</b>
  <%= @roof.address %>
</p>

<p>
  <b>Customer phone number</b>
  <%= @roof.phone %>
</p>

<p>
  <b>Latitude</b>
  <%= @roof.latitude %>
</p>

<p>
  <b>Longitude</b>
  <%= @roof.longitude %>
</p>

<p>
  <b>Roof area</b>
  <%= @roof.area %>
</p>

<p>
  <b>Roof slope</b>
  <%= @roof.slope %>
</p>

<p>
  <b>Estimated price</b>
  $ <%= @roof.estimation %>
</p>
